.app-link-gContainer {
  display: flex !important;
  margin: 2rem 0 !important;
}

.app-link-container {
  margin: 0 1rem 0 0 !important;
  display: flex !important;
  align-items: center !important;
  color: #000000 !important;
  font-size: 0.7rem !important;
  text-decoration: unset !important;
}

.app-link-container-active {
  margin: 0 1rem 0 0 !important;
  display: flex !important;
  align-items: center !important;
  font-size: 0.7rem !important;
  font-weight: bold !important;
  font-stretch: normal !important;
  font-style: normal !important;
  line-height: 1.02 !important;
  letter-spacing: normal !important;
  text-align: center !important;
  color: #3366ff !important;
  text-decoration: unset !important;
}

.app-link-text {
  margin: 0 0.2rem !important;
}
